extends layout

block content
  if alert
    .alert(style="color:"+alert.color)= alert.txt
  if isFile
    h2 Uploaded !
  if  isMail
    h2 Mail was send succesfully !
  else 
    h2 You subscribed to news! 