doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/scss/main.css")
    if showTests
      link(rel="stylesheet", href="/vendor/mocha.css")
  body
    header
      .container
        img(src="/img/logo.png", alt="logo")
        nav
          ul
            each link, name in {'home': '/', 'about': '/about?q=1', 'contacts': '/contacts', 'tdd': '/test-funcs?test=1', 'news': '/news','vacation': '/vacation', 'vacation-photo': '/contest/vacation-photo'}
              li
                a(href=link)= name 
    main
      .container
        if alert
          .alert(style="color:"+alert.color)= alert.txt
        block content
    footer
      .container
        div.footer
          div.copyright all right resived
    if scriptForPage
      script(src="/js/test-funcs.js")
    if showTests
      div#mocha
      script(src="/vendor/mocha.js")
      script(src="/vendor/chai.js")
      script(src="/tests/tests.js")
      if pageTestScript
        script(src=`/tests/${pageTestScript}.js`)
