extends layout

block content
  h2 Subscribe
    form(method="POST" name="subscribe" action="/process?form=subscribe")
      input(type="hidden" name="ref" value=""+ref)
      label(for="fieldName") name<br />
      input(type="text" name="name" id="fieldName" placeholder="Name")
      <br />
      <br />
      label(for="fieldEmail") Email<br />
      input(type="email" name="email" id="fieldName" placeholder="E-mail" required)
      <br />
      <br />
      button(type="submit") subscribe
  #container
  script.
    'use strict'
    document.addEventListener('DOMContentLoaded', ()=>{
      const subscribeForm = document.forms.subscribe; 
      subscribeForm.addEventListener('submit', e=>{

        e.preventDefault();

        let action = subscribeForm.getAttribute('action'),
            formData = new FormData(subscribeForm),
            container = document.getElementById('container'),
            headers = new Headers();

        headers.append('Content-type', 'application/x-www-form-urlencoded; charset=UTF-8');
        headers.append('Accept', 'json');
        //console.log('----===== start fetch =====-----');

        fetch(action, {
          method: 'post',
          headers: headers,
          body: formData
        })
        .then(
          res => {
            container.textContent = 'Succes!';
            console.log(res);
          }
        )
        .catch(
          err => console.log(err)
        );
        
        //console.log('----===== end fetch =====-----');
  

      });
    });
  