extends ../layout.pug

block content
  h1  Tours rate request
  .form 
    form(name="group")
      input(type="hidden" name="referrer")#idReferrer
      label(for="idName") Tour
      input(type="text" name="name")#idName
      br
      label(for="idMail") group
      input(type="email" name="email")#idMail
      br
      input(type="submit" value="submit")
      br
      br
  script.
    document.forms.group.referrer.value = document.referrer;