extends ../layout.pug

block content
  h1  Tours rate request
  .form 
    form(name="group")
      input(type="hidden" name="referrer" value="test")#idReferrer
      label(for="idName") Tour
      input(type="text" name="name")#idName
      br
      label(for="idMail") group
      input(type="email" name="email")#idMail
      br
      input(type="submit" value="submit")
      br
      br
  script.
    document.addEventListener("DOMContentLoaded", function(e){
      var inputRef = document.getElementById('idReferrer');
      inputRef.value = document.referrer;
      document.forms.group.referrer.value = document.referrer;
    });